*{
  border-radius: 5px;
}
/*Secret address tag styling*/
a{
  color: #333;
  font-style: italic;
  text-decoration: none;
  cursor: text;
}
a:hover {
  color: #333;
  text-decoration: none;
}
.container{
  padding-top: 15px;
  background-color: #99ccff;
}
#notSuppoted{
  display: none;
}
#play, #enterLabel{
  margin-left: 20px;
}
#enterLabel{
  margin-right: 20px;
}
#mySidebar{
  float: left;
  width: 30%;
}
#mysidebarBackground{
  margin: 15px;
  margin-left: 7.5px;
  margin-left: 0px;
  background-color: #66ff99;
  padding: 10px;
  height: 250px;
}
#myForm{
  float: right;
  width: 70%;
}
#myFormBackground{
  margin: 15px;
  margin-left: 7.5px;
  margin-right: 0px;
  background-color: #66ff99;
  padding: 10px;
  height: 250px;
}
#myHeading{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
}
#myHeader{
  background-color: #66ff99;
}
#arrayForm{
  text-align: center;
}
@media only screen and (max-width: 720px){
  #myForm, #mySidebar{
    float: none;
    margin-left: 0px;
    width: 100%
  }
  #mysidebarBackground, #myFormBackground{
    margin-right: 0px;
    margin-left: 0px;
  }
  #mysidebarBackground{
    height: 150px;
  }
  #play, #enterLabel{
    margin-left: 0px;
    margin-right: 0px;
  }
  #arrayForm{
    float: right;
  }
  #about{
    float:left;
  }
  @media only screen and (max-width: 410px){
    .container{
      padding-bottom: 15px;
    }
    #myForm, #mySidebar, #welcome{
      display: none;
    }
    #notSuppoted{
      display: inline;
    }
  }
}
